<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("_meta")
    @await Html.PartialAsync("_css")
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @await Html.PartialAsync("_js")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
